<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>HandleConmuterServlet</servlet-name>
        <servlet-class>servlets.HandleConmuterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleConmuterServlet</servlet-name>
        <url-pattern>/Javaweb_Expari1_war/HandleConmuterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servlet</servlet-name>
        <servlet-class>ShopPage.servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/Javaweb_Expari1_war/servlet</url-pattern>
    </servlet-mapping>
</web-app>